.currency-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
}

.currency-image-section img {
    max-width: 100%;
    width: 500px; 
    height: auto;
    margin-right: 15rem;
}

.currency-text-section {
    max-width: 500px;
    margin-right: 25rem;
}

.currency-text-section h1 {
    font-size: 50px;
    margin-top: 5rem;
    text-align: center;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
    color: #104147;
    font-weight: 400;
    width: 450px;
}

.currency-text-section p {
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    color: #104147;
    margin-bottom: 0.5em;
    font-weight: 400;
}