.feedback-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}
.feedback-container h2{
    font-size: 36px;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
    color: #104147;
    width: 400px;
    font-weight: 500;

}
.feedback-container p{
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 2rem;
    width: 900px;
    font-size: 20px;
    margin-top: 2rem;
}