.feature-container{
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}
.feature-txt{
    margin-bottom: 50px;
    font-size: 2em;
    padding-top: 30px;
    text-transform: capitalize;
}
.p-txt{
    padding-bottom: 2rem;
}
.feature-card-row{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap; 
}
.feature-card{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    flex: 1; 
    max-width: 350px;
    text-align: center;
}
.feature-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.feature-card img{
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.feature-card h4{
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: #104147;
}
.offer-btn{
    cursor: pointer;
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid transparent;
    padding: 10px 25px;
    transition: transform .4s;
    color: #ffff;
    background: #880D1E ;
    height: 50px;
}
